@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>

    This is Portal for Viewing House for customers who are interested in Buying or selling the Homes and this is Completely a very nice concept for selling the homes.
</p>
