
@{
    ViewBag.Title = "services";
}


<!--blog-->
<section class="blog py-lg-4 py-md-3 py-sm-3 py-3" id="blog">
    <div class="container-fluid py-lg-5 py-md-5 py-sm-4 py-3">
        <div class="title-sub text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <h3 class="title mb-2">Our Services </h3>
            <div class="line-w3ls-title text-center mb-md-4 mb-sm-3 mb-3"></div>
            <p>We Provide The below given  <br>Services</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 bolg-one blog-grided p-0">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 blog-grided p-0">
                <div class="w3l-ser-sub-txt ">
                    <div class="mb-2 blog-date-grid">

                    </div>
                    <div class="mb-lg-4 mb-3 blog-us-grid">
                        <h4>
                            <a href="#about">
                                Family House Montana
                            </a>
                        </h4>
                    </div>
                    <p>
                        Lorem ipsum dolor adipiscing elit, sed do sit amet, consectetur adipiscing elit, sed do
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 bolg-two blog-grided p-0">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 blog-grided p-0">
                <div class="w3l-ser-sub-txt ">
                    <div class="mb-2 blog-date-grid">
                    </div>
                    <div class="mb-lg-4 mb-3 blog-us-grid">
                        <h4><a href="#about">Property Management</a></h4>
                    </div>
                    <p>
                        Lorem ipsum dolor adipiscing elit, sed do sit amet, consectetur adipiscing elit, sed do
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 blog-grided p-0">
                <div class="w3l-ser-sub-txt ">
                    <div class="mb-2 blog-date-grid">

                    </div>
                    <div class="mb-lg-4 mb-3 blog-us-grid">
                        <h4><a href="#about">Relaxing Apartment</a></h4>
                    </div>
                    <p>
                        Lorem ipsum dolor adipiscing elit, sed do sit amet, consectetur adipiscing elit, sed do
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 bolg-three blog-grided p-0">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 blog-grided p-0">
                <div class="w3l-ser-sub-txt ">
                    <div class="mb-2 blog-date-grid">

                    </div>
                    <div class="mb-lg-4 mb-3 blog-us-grid">
                        <h4><a href="#about">Modern Family Home</a></h4>
                    </div>
                    <p>
                        Lorem ipsum dolor adipiscing elit, sed do sit amet, consectetur adipiscing elit, sed do
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 bolg-four blog-grided p-0">
            </div>
        </div>
    </div>
</section>
<!--blog-->
