
@{
    ViewBag.Title = "verification";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Please Verify Admin ID and Password</h1>
            <a href="@Url.Action("adminLogin","admin")" class="btn btn-warning">Try Again </a>
        </div>

    </div>

</div>
